# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
.Python
env/
venv/
.env
.venv/
env.bak/
venv.bak/

# PyTorch Models & Checkpoints
models/
checkpoints/
*.pth
*.pt
*.ckpt

# Directories to ignore
PF-AFN/
data/
datasets/
input/
inputs/
output/
outputs/
my_data/
mydata/

warp/

# API keys / Ngrok / Secrets
.env
secret*
ngrok*
start_web_server.bat
*.key
*.pem

# Extra codes & scratch files

cl.py
pair.py
test.py
test.sh
train.sh



# IDE / OS files

.idea/
.DS_Store
Thumbs.db
